* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

main {
    width: 100%;
}

.bgc_car {
    margin: 0 auto;
    width: 1440px;
    background: url(images/car.png); 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.container {
    width: 1020px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin: 26px 210px 126px 210px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: 68px;
}

.service {
    display: flex;
    justify-content: center;
}

.service_hour{
    color: #fff;
    width: 206px;
    font-size: 12px;
    margin-left: 10px;
}

.call_us {
    width: 131px;
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
}

.services, .call {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.services::before {
    content: url(./images/icons/access_time_24px.svg);
}

.serv {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #Fff;
}

.call::before {
    content: url(./images/icons/phone_24px.svg);
}

.btn_wrapper {
    display: flex;
    align-items: center;
    width: 211px;
}

.btn_make {
    padding-left: 19px;
    color: #fff;
    background-color: #C40B0B;
    border: none;
    display: flex;
    align-items: center;
    transition: 0.5s all ease;
    cursor: pointer;
}

.btn_make:hover {
    background-color: #fff;
    color: #C40B0B;
}
nav {
    width: 1020px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.nav_list {
    list-style-type: none;
    display: flex;
    align-items: center;  
    margin: 10px 40px;  
}

.nav_list > li {
    margin-left: 37px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.nav_list > li:first-child {
    margin-left: 0;
}

.nav_list > li:nth-child(4n+1)::after {
    content: url(./images/icons/expand_more_24px.svg);
    margin-top: 5px;
    color: #C40B0B;
}

.nav_inner_icons {
    list-style-type: none;
    display: flex;
}

.nav_inner_icons > li:first-child{
    margin-right: 24px;
}

.nav_inner_icons > li:last-child {
    margin-right: 37px;
    position: relative;
}

.number {
    position: absolute;
    background-color: #C40B0B;
    width: 16px;
    height: 16px;
    color: white;
    border-radius: 50%;
    padding: 5px;
    right: -8px;
    top: -10px;
}

/* -----------------------------------content wrapper---------------------------------------------*/

.content_wrapper {
    width: 583px;
    margin-left: 210px;
    display: flex;
}

.content_wrapper_text {
    color: #fff;
    font-size: 56px;    
    font-weight: 900;
    line-height: 56px;
}

.btn_make2 {
    padding-left: 19px;
    color: #fff;
    background-color: #C40B0B;
    border: none;
    display: flex;
    align-items: center;
    margin: 40px 0 0 210px;
    height: 48px;
    transition: 0.5s all ease;
    cursor: pointer;
}

.btn_make2:hover {
    background-color: #fff;
    color: #C40B0B;
}
.btn_make2_image { 
    height: 48px;
}


/* ---------------------------------- Second list --------------------------------------------------*/


.bgc_white {
    margin: 232px auto 0;
    width: 1020px;
    height: 700px;
    background-color: #F5F5F5;
}

.bgc_white {
    background: url(images/gears.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 100px;
    padding-left: 87px;
}

.bgc_white > p:first-child {
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
    font-weight: 700;
    line-height: 24px;
}

.bgc_white > p:first-child::before {
    content: url(images/icons/Overline\ Mark.svg);
    margin-top: 6px;
}

.bgc_white > p:nth-child(2) {
    margin-top: 33px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    width: 583px;
    color: #02133C;
}

.bgc_white > p:nth-child(3) {
    margin-top: 31px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 846px;
    letter-spacing: 0.15px;
}

.image_gear {
    margin-top: 59px;
}

/*------------------------------------------Third list-----------------------------------------------*/

.our_promise {
    width: 1440px;
    margin: 230px auto 0; 
    display: flex;
    padding-left: 210px;
    flex-direction: column;
    justify-content: center;
}

.inner_our_promise {
    width: 583px;
    height: 134px;
}

.inner_our_promise > p:first-child {
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
}

.inner_our_promise > p:first-child::before {
    content: url(images/icons/Overline\ Mark.svg);
    margin-top: 6px;
}

.inner_our_promise> p:last-child {
    margin-top: 33px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #02133C;
}

.service_block {
    margin-top: 26px;
    display: flex;
}

.block {
    width: 324px;
    height: 148px;
    display: flex;
    margin-left: 24px;
}

.block:first-child {
    margin-left: 0;
}
.text_block {
    display: flex;
    flex-direction: column;
    margin-left: 23px;
}

.text_block > p:first-child {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #02133C;
}

.text_block > p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-top: 20px;
}

/*-----------------------------Video page -----------------------------*/

.video_page {
    margin-top: 122px;
}

/*----------------------------------- Our services -----------------------------------*/

.our_services_wrapper {
    width: 1440px;
    background: url(images/gearsmirror.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.our_services_wrapper_two {
    background: url(images/gearsmirrortwo.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.our_services {
    padding: 110px 210px 0 210px;
    display: flex;
    flex-direction: column;
}

.our_services > p:first-child {
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
}

.our_services > p:first-child::before {
    content: url(images/icons/Overline\ Mark.svg);
    margin-top: 6px;
}

.our_services > p:nth-child(2) {
    margin-top: 33px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #02133C;
    margin-bottom: 78px;
}

.our_services_boxes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.boxes_wrapper {
    display: flex;
    align-items: center;
}

.our_service_box {
    width: 324px;
    height: 340px;
    transition: 0.2s all ease;
}

.our_service_box:hover {
    background-color: black;
    box-shadow: 0px 16px 48px 0px #26262633;
    box-shadow: 0px 8px 48px 0px #2626263D;
}

.our_services_boxes > .our_service_box {
    margin-left: 24px;
}

.our_services_boxes > .our_service_box:first-child {
    margin-left: 0;
}

.our_services_boxes > .our_service_box:nth-child(4) {
    margin-left: 0;
}

.our_service_box:nth-child(n+4){
    margin-top: 24px;
}

.our_service_box:nth-child(2){
    box-shadow: 0px 16px 24px 0px #26262633;
    box-shadow: 0px 8px 16px 0px #2626263D;
}

.inner_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 44px 50px 43px;
    background-color: #fff;
}


.inner_box > p:nth-of-type(1) {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #02133C;
    margin-top: 33px;
}

.inner_box > p:nth-of-type(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
    margin-top: 20px;
}

.btn_learn {
    margin: 66px auto 122px;
}

.btn_learn_more {
    padding-left: 19px;
    color: #fff;
    background-color: #C40B0B;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    width: 150px;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.5s all ease;
    cursor: pointer;
}

.btn_learn_more:hover {
    background-color: #fff;
    color: #C40B0B;
    border: 1px solid red;

}

.btn_learn_image {
    height: 48px;
}


/*------------------------blue bgc ---------------------------*/

.blue_bgc {
    width: 1440px;
    height: 980px;
    background-color: #02133C;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bgc_mirror_gears {
    width: 1440px;
    height: 980px;
    background: url(images/gearsmirrorthree.png);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
}

.form {
    margin: 130px 210px 130px 210px;
    width: 1020px;
    height: 640px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inner_form {
    padding: 76px 57.50px;
    width: 585px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    z-index: 10;
}

.inner_form > p:first-child {
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    color: #02133C;
}

.inputs_wrapper {
    margin-top: 43px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.inputs_wrapper > .inputs:nth-child(even){
    margin-left: 21.44px;
}

.inputs_wrapper > .inputs:nth-child(n+3){
    margin-top: 22px;
}

.inputs, .textarea {
    border: none;
    background-color: #F5F5F5;
    outline: none;
    color: #959595;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding-left: 24px;
}

.inputs {
    width: 224px;
    height: 48px;
}

.inputs:focus, .textarea:focus {
    border: 1px solid #959595 ;
}

.textarea {
    margin-top: 22px;
    max-width: 470px;
    min-width: 470px;
    min-height: 180px;
    max-height: 180px;
    padding-top: 17px;
}

.btn_inner_make {
    margin-left: 250px;
    padding-left: 19px;
    color: #fff;
    background-color: #C40B0B;
    border: none;
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 48px;
    font-size: 12px;
    transition: 0.5s all ease;
    cursor: pointer;
}

.btn_inner_make:hover {
    background-color: #fff;
    color: #C40B0B;
    border: 1px solid #C40B0B;

}

.btn_inner_make_image { 
    height: 48px;
}

.right_side {
    width: 324px;
    height: 280px;
    margin-left: 111px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right_side > p:first-child {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
}

.right_side > p:nth-child(2) {
    font-weight: 900;
    font-size: 96px;
    line-height: 56px;
    margin-top: 46px;
    color: #C40B0B;
}

.right_side > p:nth-child(3) {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    margin-top: 46px;
    color: #FFFFFF;
    font-style: normal;
}

.bgc_gears_inner {
    position: absolute;
    width: 642px;
    height: 450px;
    background: url(./images/gearsmirrortwo.png);
    background-repeat: no-repeat;
    bottom: 75px;
    left: 0;
}

/*----------------------------Gallery-----------------------------------*/

.bgc_gears_last {
    width: 1440px;
    height: 867px;
    background: url(./images/gearsmirrortwo.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.gallery {
    margin: 0 auto;
    background-color: #fff;
    width: 1020px;
    height: 700px;
    margin-top: -84px;
    display: flex;
    z-index: 100;
    justify-content: center;
    position: relative;
}

.gallery_inner {
    padding-top: 99px;
    padding-left: 87px;
    padding-right: 87px;
    display: flex; 
    flex-direction: column;
}

.gallery_content {
    width: 583px;
    height: 134px;
}

.gallery_content > p:first-child {
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
}

.gallery_content > p:first-child::before {
    content: url(images/icons/Overline\ Mark.svg);
    margin-top: 6px;
}

.gallery_content > p:nth-child(2){
    margin-top: 33px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #02133C;
} 

.live_streams {
    position: relative;
    margin-top: 44px;
    width: 846px;
    height: 24px;
}

.streams {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #02133C;
}

.streams > li {
    cursor: pointer;
}

.hr {
    width: 846px;
    height: 1px;
    color: #D5D5D5;
    background-color: #D5D5D5;
    margin-top: 8px;
    position: relative;
}

.active_item {
    position: absolute;
    top: -2px;
    left: 162px;
    width: 200px;
    height: 4px;
    background-color: #C40B0B;
}

.image_wrapper {
    margin-top: 50px;
}

/*---------------------our-customers----------------------------*/
.our_customers {
    display: flex;
    justify-content: center;
} 

.customer_blocks {
    margin-top: 13px;
    width: 1020px;
    display: flex;
}

.customer_block {
    width: 324px;
    height: 340px;
}

.customer_block > p:first-child{
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
}

.customer_block > p:first-child::before {
    content: url(images/icons/Overline\ Mark.svg);
    margin-top: 6px;
} 

.customer_block > p:nth-child(2){
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #02133C;
}

.customer_block_people {
    width: 324px;
    height: 340px;
    background-color: #fff;
    color: #4B4B4B;
}

.customer_block_people {
    margin-left: 24px;
}

.block_people {
    padding: 50px 44px 40px 43px;
    height: 189px;
}

.people_flex {
    display: flex;
    align-items: center;  
    margin-top: 55px;
}

.people_flex > p {
    margin-left: 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

/* --------------------------------our-impact-----------------------*/

.our_impact {
    margin-top: 210px;
    width: 1440px;
    height: 608px;
    background-color: #02133C;
}

.our_impact_bgc {
    background: url(./images/blue.png);
    width: 1440px;
    height: 608px;
    display: flex;
    position: relative;
    flex-direction: column; 
    /* align-items: center; */
}

.our_impact_block {
    display: flex;
    flex-direction: column;
}

.first_side {
    width: 411px;
    height: 129px;
    margin-top: 112px;
    margin-left: 210px; 
    position: relative;
}

.first_side > p:first-child {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #D5D5D5;
    display: flex;
    align-items: center;
}

.first_side > p:first-child::before {
    content: url(./images/icons/Overline\ Mark.svg);
    margin-top: 6px;
}

.first_side > p:last-child {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    position: relative;
}

.our_impact_image {
    position: absolute;
    right: 210px;
    top: -85px;
}

.car_service {
    margin-top: 79px;
    width: 1020px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 210px;
    justify-content: space-between;
}

.car_service_text > p:first-child {
    color: #C40B0B;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

.car_service_text > p:last-child {
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #f5f5f5;
}

/* -----------------------white-window------------------------------*/

.white_window {
    margin: 134px auto;
    width: 1020px;
    height: 150px;
    background-color: #fff;
}

.window_inner {
    padding: 43px 76px 48px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.window_inner > p {
    width: 550px;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #02133C;
}

.window_inner > p:first-child {
    display: flex;
}

.window_btn {
    width: 211px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #C40B0B;
    padding-left: 19px;
    font-size: 12px;
    border: none;
    transition: 0.5s all ease;
    cursor: pointer;
}

.window_btn:hover {
    background-color: #fff;
    color: #C40B0B;
    border: 1px solid #C40B0B;
}


/* -------------------------bottom info--------------------------------*/

.bottom_info {
    margin: 168px auto;
    width: 1020px;
    display: flex;
}

.logo_and_others {
    display: flex;
    flex-direction: column;
    width: 235px;
}

.logo_vector {
    width: 39px;
    height: 39px;
}

.logo_and_others > div {
    display: flex;
    align-items: center;
}

.logo_and_others > div > .logo_text {
    color: #02133C;
    font-size: 32px;
    font-weight: 900;
    margin-left: 5px;
}

.logo_and_others_text {
    margin-top: 23px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

.soc_net_logos {
    margin-top: 33px;
    
}

.soc_net_list_logos {
    display: flex;
    list-style-type: none;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.second_side {
    display: flex;
    flex-direction: column;
    margin-left: 124px;
    width: 159px;
}

.second_side > div > p {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;    
    color: #4B4B4B;
    text-transform: uppercase;
}

.list_serv > li,
.third_side_list > li {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;    
    color: #4B4B4B;
}

.div_serv {
    margin-top: 58px;
}

.list_serv {
    list-style-type: none;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list_serv > li:nth-child(1n+1) {
    margin-top: 14px;
}

.third_side {
    margin-left: 87px;
    margin-top: 78px;
}

.third_side_list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 68px;
    justify-content: space-around;
}

.third_side_list > li:nth-child(1n+1) {
    margin-top: 14px;
}

.fourth_side {
    margin-left: 198px;
}

.fourth_side > div > p {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

.contacts_div {
    margin-top: 28px;
}

.contacts_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts_list > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contacts_list > div::before {
    margin-right: 18px;
}

.contacts_list > div:not(:first-child) {
    margin-top: 16px;
}

.contacts_list > div > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

.contacts_list > div:nth-child(1)::before {
    content: url(./images/contacts_icons/place_24px.svg);
}

.contacts_list > div:nth-child(2)::before {
    content: url(./images/contacts_icons/smartphone_24px.svg);
}

.contacts_list > div:nth-child(3)::before {
    content: url(./images/contacts_icons/email_24px.svg);
}

.contacts_list > div:last-child::before {
    content: url(./images//contacts_icons/timer_24px.svg);
}

/* -------------------------footer--------------------------------*/

.footer {
    height: 60px;
    background-color: #02133C;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer > p {
    color: #959595;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.15px;
}