* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

main {
    width: 100%;
    background-color: #F5F5F5;
}

.bgc_car {
    margin: 0 auto;
    width: 1440px;
    background: url(images/car.png); 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1020px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin: 26px 210px 126px 210px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: 68px;
}

.service {
    display: flex;
    justify-content: center;
}
.service_hour{
    color: #fff;
    width: 206px;
    font-size: 12px;
    margin-left: 10px;
}

.call_us {
    width: 131px;
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
}

.services, .call {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.services::before {
    content: url(./images/icons/time.png);
}

.call::before {
    content: url(./images/icons/phone.png);
}

.btn_wrapper {
    display: flex;
    align-items: center;
    width: 211px;
}

.btn_make {
    padding-left: 19px;
    color: #fff;
    background-color: #C40B0B;
    border: none;
    display: flex;
    align-items: center;
}

nav {
    width: 1020px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.nav_list {
    list-style-type: none;
    display: flex;
    align-items: center;  
    margin: 10px 40px;  
}

.nav_list > li {
    margin-left: 37px;
    font-weight: 700;
    font-size: 14px;
}

.nav_list > li:first-child {
    margin-left: 0;
}

.nav_list > li:nth-child(4n+1)::after {
    content: url(./images/icons/expand_more_24px.png);
    color: #C40B0B;
}

.nav_inner_icons {
    list-style-type: none;
    display: flex;
}

.nav_inner_icons > li:first-child{
    margin-right: 24px;
}

.nav_inner_icons > li:last-child {
    margin-right: 37px;
    position: relative;
}

.number {
    position: absolute;
    background-color: #C40B0B;
    color: white;
    border-radius: 50%;
    padding: 5px;
    right: -8px;
    top: -10px;
}

/* -----------------------------------content wrapper---------------------------------------------*/

.content_wrapper {
    width: 583px;
    margin-left: 210px;
    display: flex;
}

.content_wrapper_text {
    color: #fff;
    font-size: 56px;    
    font-weight: 900;
    line-height: 56px;
}

.btn_make2 {
    padding-left: 19px;
    color: #fff;
    background-color: #C40B0B;
    border: none;
    display: flex;
    align-items: center;
    margin: 40px 0 0 210px;
    height: 48px;
}

.btn_make2_image { 
    height: 48px;
}


/* ---------------------------------- Second list --------------------------------------------------*/


.second_list {
    margin: 232px auto 0;
    width: 1020px;
    height: 820px;
    background: url(images/gears.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 100px;
    padding-left: 87px;
}

.second_list > p:first-child {
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
}

.second_list > p:first-child::before {
    content: url(images/icons/overline.png);
}

.second_list > p:nth-child(2) {
    margin-top: 33px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    width: 583px;
    color: #02133C;
}

.second_list > p:nth-child(3) {
    margin-top: 31px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 846px;
}

.image_gear {
    margin-top: 59px;
}

/*------------------------------------------Third list-----------------------------------------------*/
.third_list {
    margin: 110px auto 0;
}

.third_list > p:first-child {
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
}

.third_list > p:first-child::before {
    content: url(images/icons/overline.png);
}